<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="springProfile" source="spring.profiles.active"/>

    <property name="LOG_DIR" value="./logs/service-module"/>
    <property name="APP_NAME" value="live-feed-service"/>

    <!-- Console Appender -->
    <appender name="CONSOLE-APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{"yyyy-MM-dd HH:mm:ss"} [%thread] %-5level %highlight(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender -->
    <appender name="FILE-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${APP_NAME}.log</file>
        <encoder>
            <pattern>%d{"yyyy-MM-dd HH:mm:ss"} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/archived/${APP_NAME}.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- Logger configurations -->
    <root level="info">
        <appender-ref ref="FILE-APPENDER"/>
    </root>

    <!-- Profile-specific configuration -->
    <springProfile name="local">
        <root level="info">
            <appender-ref ref="CONSOLE-APPENDER"/>
            <appender-ref ref="FILE-APPENDER"/>
        </root>
    </springProfile>

</configuration>